<h2 class="text-center my-5"> {{isEditing?'Edit': 'Create'}} Employee</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<div *ngIf="errorMessage == '' || null" class="container">
    <form class="border rounded p-5 w-50 mb-5 mx-auto" (ngSubmit)="onSubmit()" #employeeForm="ngForm">

        <div class="mb-3 ">
            <label class="form-label">First Name*  </label>
            <input required #firstName="ngModel" class="form-control" type="text" name="firstName"
                [(ngModel)]="form.firstName">
            <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                <div class="text-danger" *ngIf="firstName.errors?.['required']">
                    First Name is Required
                </div>
            </div>
        </div>
        <div class="mb-3 ">
            <label class="form-label">Last Name*</label>
            <input required #lastName="ngModel" class="form-control" type="text" name="lastName"
                [(ngModel)]="form.lastName">
            <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                <div class="text-danger" *ngIf="lastName.errors?.['required']">
                    Last Name is Required.
                </div>
            </div>
        </div>
        <div class="mb-3 ">
            <label class="form-label">Phone*</label>
            <input required phone #phone="ngModel" class="form-control" (keypress)="allowNumeric($event)" type="phone" name="phone" [(ngModel)]="form.phone">
            <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                <div class="text-danger" *ngIf="phone.errors?.['required']">
                    Phone Number is Required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email*</label>
            <input required email #email="ngModel" class="form-control" type="email" name="email"
                [(ngModel)]="form.email">
            <div *ngIf="email.invalid && (email.touched || email.dirty)">
                <div class="text-danger" *ngIf="email.errors?.['required']">
                    Email is Required.
                </div>

                <div class="text-danger" *ngIf="email.errors?.['email']">
                    Email is Invalid.
                </div>
            </div>
        </div>

        <div class="mb-3 ">
            <label class="form-label">Position*</label>
            <input required #position="ngModel" class="form-control" type="text" name="position"
                [(ngModel)]="form.position">
            <div *ngIf="position.invalid && (position.touched || position.dirty)">
                <div class="text-danger" *ngIf="position.errors?.['required']">
                    Position is Required.
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid" >{{isEditing?'Edit': 'Create'}} </button>

    </form>
</div>