<h2 > {{isEditing?'Edit': 'Create'}} Employee</h2>

<div *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" [(ngModel)]="form.firstName">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="form.lastName">
    </div>
    <div>
        <label>Phone</label>
        <input type="phone" name="phone" [(ngModel)]="form.phone">
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="form.email">
    </div>
    <div>
        <label>Position</label>
        <input type="text" name="position" [(ngModel)]="form.position">
    </div>

    <button class="btn btn-primary" type="submit">{{isEditing?'Edit': 'Create'}}  </button>
</form>