<h2>Employee</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Position</th>
            <th>Options</th>
        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.position}}</td>
            <div>
                <button (click)="deleteEmployee(employee.id)">Delete</button>
                <button (click)="updateEmployee(employee.id)">Update</button>
            </div>

        </tr>
    </tbody>
</table>
